@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;0,400;0,700&display=swap');

@font-face {
  font-family: 'Pokemon GB';
  src: url('../fonts/PokemonGb-RAeo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
